<div class="navbar navbar-expand-lg navbar-light bg-gradient" role="banner">
  <h1 (click)="goHome()">Rijksmuseum </h1>
  <div class="spacer"></div>
  <div class="dropdown" ngbDropdown>
    <button aria-expanded="false" class="btn btn-secondary" id="dropdownMenuButton1" ngbDropdownToggle type="button">
      {{ 'front-page.dropdown-button' | translate }}
    </button>
    <ul aria-labelledby="dropdownMenuButton1" ngbDropdownMenu>
      <li><a (click)="useLanguage()" ngbDropdownItem>{{ 'front-page.dropdown-option1' | translate }}</a></li>
    </ul>
  </div>

  <a aria-label="Angular on twitter" href="https://github.com/OSchouten" rel="noopener" target="_blank" title="Twitter">
    <img src="assets/svg/icons8-github.svg">
  </a>
</div>

