<div class="container">
  <div class="search">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-8">
        <div class="card-body row no-gutters align-items-center">
          <div class="col-auto">
            <i class="fas fa-search h4 text-body"></i>
          </div>
          <h1 class="heading-1 search-heading">{{ 'front-page.search-button' | translate }}</h1>
          <div class="col-auto">
            <div ngbDropdown class="d-inline-block">
              <button aria-expanded="false" class="btn btn-secondary" id="dropdown" ngbDropdownToggle
                      type="button">
                {{ 'front-page.dropdown-button-options' | translate }}
              </button>
              <div ngbDropdownMenu aria-labelledby="dropdown">
                <div class="px-4 py-3">

                  <div class="mb-3">
                    <label for="dropDownRange">{{ 'dropdownOptions.range' | translate }}</label>
                    <input type="number" class="text-start" id="dropDownRange" [(ngModel)]="range" placeholder="10">
                  </div>

                  <div class="mb-3">
                    <label for="dropdownArtist">{{ 'dropdownOptions.artist' | translate }}</label>
                    <input type="text" class="text-start" id="dropdownArtist" [(ngModel)]="artist"
                           placeholder="Rembrandt van Rijn">
                  </div>

                  <div class="mb-3">
                    <label for="dropDownType">{{ 'dropdownOptions.type' | translate }}</label>
                    <input type="text" class="text-start" id="dropDownType" [(ngModel)]="type" placeholder="Painting">
                  </div>

                  <div class="mb-3">
                    <label for="dropDownMaterial">{{ 'dropdownOptions.material' | translate }}</label>
                    <input type="text" class="text-start" id="dropDownMaterial" [(ngModel)]="material"
                           placeholder="Paint">
                  </div>

                  <div class="mb-3">
                    <label for="dropDownTechnique">{{ 'dropdownOptions.technique' | translate }}</label>
                    <input type="text" class="text-start" id="dropDownTechnique" [(ngModel)]="technique"
                           placeholder="impasto">
                  </div>

                  <div class="mb-3">
                    <label for="dropDownDatingPeriod">{{ 'dropdownOptions.dating.period' | translate }}</label>
                    <input type="number" class="text-start" id="dropDownDatingPeriod" [(ngModel)]="datingPeriod"
                           placeholder="1700">
                  </div>

                  <input type="checkbox" class="checkbox" id="dropdownCheck" [checked]="imgOnly"
                         (change)="imgOnly = !imgOnly">
                  <label class="checkbox" for="dropdownCheck">
                    {{ 'dropdownOptions.imgonly' | translate }}
                  </label>
                </div>
                <div class="dropdown-divider"></div>
              </div>
            </div>
          </div>
          <div class="col">
            <input [(ngModel)]="searchInput" class="form-control form-control-lg form-control-borderless"
                   placeholder="{{ 'front-page.search-button-placeholder' | translate }}"
                   (keydown.enter)="executeSearch()"
                   type="search">
          </div>
          <div class="col-auto">
            <button (click)="executeSearch()" class="btn btn-secondary btn-lg"
                    type="submit">{{ 'front-page.search-button' | translate }}</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="hasSearched == true" class="container">
    <div class="grid">
      <div *ngFor="let art of artCollection['artObjects'] | paginate: { itemsPerPage: 9, currentPage: p }"
           class="border border-light item">
        <a aria-labelledby="art" (click)="goToDetail(art)"></a>
        <img *ngIf="art['hasImage'];else elseBlock"
             [alt]="'assets/jpg/image-pending.jpg'" [src]="art['webImage']['url']" loading="lazy">
        <div class="item__overlay">
          <h3 aria-hidden="true" id="person1">{{art['title']}}.<br>{{art['principalOrFirstMaker']}}</h3>
        </div>
      </div>
      <div id="bottom">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
    </div>
    <div *ngIf="hasSearched == true && artCollection['artObjects'].length == 0" id="searchError">
      {{ 'front-page.search-error1' | translate }}{{searchInput + '.'}} {{ 'front-page.search-error2' | translate }}
    </div>
  </div>
</div>
<ng-template #elseBlock>
  <img [alt]="'assets/jpg/image-pending.jpg'" [src]="'assets/jpg/image-pending.jpg'">
</ng-template>
