<div class="container">
  <div class="search">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-8">
        <div class="card-body row no-gutters align-items-center">
          <div class="col-auto">
            <i class="fas fa-search h4 text-body"></i>
          </div>
          <h1 class="heading-1 search-heading">{{ 'front-page.search-button' | translate }}</h1>
          <div class="col">
            <input [(ngModel)]="searchInput" class="form-control form-control-lg form-control-borderless" type="search"
                   placeholder="{{ 'front-page.search-button-placeholder' | translate }}">
          </div>
          <div class="col-auto">
            <button class="btn btn-secondary btn-lg" type="submit"
                    (click)="executeSearch()">{{ 'front-page.search-button' | translate }}</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container" *ngIf="hasSearched == true">
    <div class="grid">
      <div class="item" *ngFor="let art of artCollection['artObjects']">
        <a href="#0" aria-labelledby="person1"></a>
        <img
          [src]="art['webImage']['url']" [alt]="">
        <div class="item__overlay">
          <h3 id="person1" aria-hidden="true">{{art['longTitle']}}</h3>
          <div class="item__body">
            <h3 id="person" aria-hidden="true">{{ 'art.artist' | translate }}{{ art['principalOrFirstMaker']}}</h3>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="hasSearched == true && artCollection['artObjects'].length == 0">
      {{ 'front-page.search-error1' | translate }}{{searchInput + '.'}} {{ 'front-page.search-error2' | translate }}
    </div>
  </div>
</div>

